<!DOCTYPE html>
<html lang="es" >
<title>ASISTENCIA</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="theme-color" content="#d72525"><link rel="icon" type="image/png" href="/imgFiles/salud.png">

<!-- iconos-->
<link rel="stylesheet" href='/cssFiles/iconos.min.css'>

 <link rel="stylesheet" href='/cssFiles/bootstrap.min.css'>
 <link rel="stylesheet" href="/stylesheets/jquery-ui.css">



<!-- Top container -->
<body >

  <style type="text/css"> 

.sinborde {
    border: 0;
  }


  </style>
 

   <%- include users/menu.ejs %>


      <form ng-app="app" ng-controller="frmasistencia" ng-init="username='<%=data.usuario.username%>';buscar3();buscar();buscar2();buscar4();" 
        name='exampleForm' >





<select  ng-model="username"   style="display:none;background-color:blue;" > 
     <option value="<%=data.usuario.username%>">  <%=data.usuario.username%>  </option>

   </select>

<h3><strong> Bienvenido(a): <%=data.usuario.username%> - <input  type="text"  class="sinborde"  ng-model="nombre" autocomplete="off" 
                 name='nombre' style="width : 800px" readonly> </strong></h3> 



<div class="container">

<table>
<tr> 
<!--  <TH>BUSQUEDA:</TH>
  <th>
  <input    type="text"   class="datepicker form-control"   id="datepicker"  ng-model="campo"     placeholder="DD/MM/AA"
   autocomplete="off"   style="width: 100%"></th>
  <TH> A LA FECHA </TH>
  <th>
  <input type="text"   class="datepicker form-control"   id="datepicker2"   ng-model="campo2"   placeholder="DD/MM/AA"
   autocomplete="off"   style="width: 100%"></th> -->

<LABEL ng-repeat="x in reporte03"  >CARGO:  {{x.CARGO}} </LABEL> &nbsp;&nbsp;&nbsp;
 <LABEL ng-repeat="x in reporte03"  > TIPO MARCACION :  N° TARJETA:  {{x.TARJETA}} </LABEL> &nbsp;&nbsp;&nbsp;
  <LABEL ng-repeat="x in reporte03"  >SEDE:  {{x.SEDE}} </LABEL> &nbsp;&nbsp;&nbsp;
     
 <th> FECHA :</th>
 <th> <input type="text"   class="datepicker form-control"   id="datepicker"     ng-model="searches"  autocomplete="off" /> </th>


 <!--  <th><button ng-click="buscar();" class="btn btn-primary">BUSCAR</button></th>  -->
 <th> <button  class="btn btn-success" onclick="tableToExcel('testTable', 'W3C Example Table')" 
  value="Export to Excel"><i class="fa fa-file-excel-o" aria-hidden="true"></i></button></th>
    


 

</tr>



 </table>

    <ul ng-repeat="(key, value) in reporte01 | groupBy: 'FECHAS'"> Group name: {{ key }}
                   <li ng-repeat="reporte in value"> player: {{ player.FLAG }} </li> </ul>
 
  

 <div class="visible-scrollbar">
        


<table class="table table-striped table-bordered table-sm" >

<tr>
    <td><table  class="table table-striped table-bordered table-sm"  ng-init='configPages()'  id="testTable" 
          summary="Code page support in different versions of MS Windows." rules="groups" frame="hsides"1>
<tr><h3>MARCACIONES<h3></tr>    <tr bgcolor="#87CEFA"><th>Nro</th><th>DIA DE LA SEMANA</th><th>(MES DIA AÑO)</th><th>HORA INGRESO Y SALIDA</th> 
           </tr>
                  <tr ng-repeat="x in reporte01 | orderBy : '-FECHAS'  | filter: searches"  >
                     <th>{{$index+1}}</th>
                        
                           <!--  <td>{{x.FECHAS | date:'EEEE, MMMM d, y' }}</td>   -->

                           <td>{{x.FECHAS | date:'EEEE' }}</td> 
                           <td>{{x.FECHAS | date:'d MMMM, y' }}</td> 
                           <td>{{x.Horas}}</td>      
                      
                  </tr>  </table></td>








<!-- 
    <td><table  class="table table-striped table-bordered table-sm"  ng-init='configPages()'  id="testTable" 
          summary="Code page support in different versions of MS Windows." rules="groups" frame="hsides"1>
<tr><h3>SALIDAS<h3></tr>   <tr bgcolor="#87CEFA"><th>Nro</th><th>SEMANA</th><th>DIA MES</th><th>HORA SALIDA</th><th>MODALIDAD</th>  
           </tr>
                  <tr ng-repeat="x in reporte02"  >
                         <th>{{$index+1}}</th>
                           <td>{{x.FECHAS | date:'EEEE' }}</td> 
                           <td>{{x.FECHAS | date:'MMMM d, y' }}</td> 
                           <td>{{x.HORA_MARCAS}}</td> 
                             <td>{{x.LECTORA}}</td>

                    
                  </tr> </table></td> -->


</tr>
</table> 





          </div>


 </div>

             
    </nav>

          </input>


    </form>
   
    <script src='/javas/jquery-2.1.4.min.js'></script>
      <script src="/stylesheets/jquery-ui-modificado.js"></script>


    



  <script src="/angularjs/angular.min.js"></script>
  <script src="/angularjs/angular-locale_es-es.min.js"></script>

  <script src='/boostrap/bootstrap.min.js'></script>
  <%- include users/excel.ejs %>


  <script>
 $(function () {
    $.datepicker.setDefaults($.datepicker.regional["es"]);
    $("#datepicker").datepicker({
        dateFormat: 'yy-mm-dd',
        firstDay: 1
    }).datepicker("setDate", new Date());
 });

 $(function () {
    $.datepicker.setDefaults($.datepicker.regional["es"]);
    $("#datepicker2").datepicker({
        dateFormat: 'dd/mm/yy',
        firstDay: 1
    }).datepicker("setDate", new Date());
 });
  </script>



    <script type="text/javascript">
    var app = angular.module("app", []);
    app.controller("frmasistencia",   function($scope,$http)
    {
 

               
    //fin alertas
    $scope.submitForm = function (formData) {
    	alert('Form submitted with' + JSON.stringify(formData));
    };


        $scope.buscar=function(datos)
      { 
        $http.post('/buscar/asistencia',
        { 'dni':$scope.username,
        'campo':$scope.campo,
        'campo2':$scope.campo2,
          'accion':'buscar',
                }).then(function(response)
          {
                $scope.reporte01=response.data;

          });
               console.log($scope.reporte01)

      }

        $scope.buscar2=function(datos)
      { 
        $http.post('/buscar2/asistencia',
        { 'dni':$scope.username,
          'accion':'buscar2',
                }).then(function(response)
          {
                $scope.reporte02=response.data;

          });
               console.log($scope.reporte02)

      }
      $scope.buscar3=function(myText)
      { 
        $http.post('/buscar3/asistencia',
        { 'username':$scope.username,
          'accion':'buscar3',

                }).then(function(response)
          {
            $scope.nombre=response.data[0].nombre;
          });
                console.log($scope.valor)

      }
      $scope.buscar4=function(myText)
      { 
        $http.post('/buscar4/asistencia',
        { 'dni':$scope.username,
          'accion':'buscar4',

                }).then(function(response)
          {
            $scope.reporte03=response.data;
          });
                console.log($scope.reporte03)

      }

       



    $scope.encs=function()
    {
    }

  
    })
    .filter('startFromGrid', function() {
      return function(input,start)
    	{
        start = +start;
    		if(angular.isArray(input) && input.length > 0) {
                 return input.slice(start);
            }
    				return input;
      }
    });


    </script>
      <script src="/angularjs/formulariosadd.js"></script>

    </body>

</html>
