<!DOCTYPE html>
<html>
<title>ENFERMERIA</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="theme-color" content="#d72525"><link rel="icon" type="image/png" href="/imgFiles/salud.png">

<!-- iconos-->
<link rel="stylesheet" href='/cssFiles/iconos.min.css'>

 <link rel="stylesheet" href='/cssFiles/bootstrap.min.css'>
 <link rel="stylesheet" href="http://172.26.70.160/asistenciareporte/js/jqueryui1.12.1/jquery-ui.css">



<!-- Top container -->
<body >

  <style type="text/css"> 

.sinborde {
    border: 0;
  }


  </style>
 

   <%- include users/menu.ejs %>


      <form ng-app="app" ng-controller="frmmonitor" ng-init="id=0;operador='LIKE';valor='';
       procedimiento='ELECTROCARDIOGRAMA';servicio='EMERGENCIA' ;username='<%=data.usuario.username%>' ;enfermera1='<%=data.usuario.username%>';enfermera='<%=data.usuario.username%>';estado_registro='ACTIVO'; buscar3(); " 
        name='exampleForm' novalidate>





<select  ng-model="username"   style="display:none;" > 
     <option value="<%=data.usuario.username%>">  <%=data.usuario.username%>  </option>

   </select>

Bienvenido(a): <%=data.usuario.username%> - <input  type="text"  class="sinborde"  ng-model="nombre" autocomplete="off" 
                 name='nombre' style="width : 400px" readonly>  

<div class="container">

<table>
<tr> 
 <TH>BUSQUEDA:</TH>
  <th>
  <input  type="date"   ng-model="campo"  class="form-control" placeholder="DD/MM/AA"
   autocomplete="off"   style="width: 100%"></th>
  <th><input  type="text"   ng-model="valor"  placeholder="DNI PACIENTE" class="form-control" style="width: 100%"/></th>

  <th><button ng-click="buscar();" class="btn btn-primary">BUSCAR</button></th>
 <th> <button  class="btn btn-success" onclick="tableToExcel('testTable', 'W3C Example Table')" 
  value="Export to Excel"><i class="fa fa-file-excel-o" aria-hidden="true"></i></button></th>

<th>
  <BUTTON  class="btn btn-primary" data-toggle="modal" data-target="#1"  value="Modificar" >NUEVO PROCEDIMIENTO NEONATOLOGIA</BUTTON>
</th>
  
</tr>

 </table>


 <!-- miniformulario modal-->

    
   <div id="1" class="modal fade" role="dialog">
               <div class="modal-dialog">
                 <div class="modal-content">
                   <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal">&times;</button>
                     <h4 class="modal-title">FORMULARIO DE REGISTRO DE PROCEDIMIENTOS</h4>
                   </div>
                   <div class="modal-body">
                  <div class='container' id='modal'>
                   

                    <div class='container' style="width: 100%">
            <div class='row'>
              <div class='col-xs-3'>
            <div style="width: 180%;margin: 1px auto">
  <div class='row space'>
          <label >Nro Registro</label> {{id}}
          </div>

  <div class="navbar-form">
    <h4>FECHA</h4>
              <input  type="date"    class="form-control"  ng-model="fecha" name='fecha'>
</div>

 <div class="navbar-form">
     <h4>DNI</h4>
              <input type="text" ng-model="dni"  maxlength="8" Class="form-control" autocomplete="off" name='dni' 
              required   ng-class='{ error: exampleForm.dni.$invalid && !exampleForm.$pristine }'>
                 <span class="input-group-addon"  ng-click="buscar2();" > VALIDAR DNI</span>
</div>
  <div class="navbar-form">
     <h4>NOMBRES Y APELLIDOS</h4>
              <input  type="text"   ng-model="nombres" class="form-control" autocomplete="off" 
                 name='nombres'>

</div>
 <div class="navbar-form">
   <h4>PROCEDIMIENTO</h4>
              <select ng-model="procedimiento" class="form-control w3-animate-zoom"   name='procedimiento'  required   ng-class='{ error: exampleForm.procedimiento.$invalid && !exampleForm.$pristine }'>
            <option value="ELECTROCARDIOGRAMA" >ELECTROCARDIOGRAMA</option>
            <option value="CURACION DE HERIDA" >CURACION DE HERIDA</option>
            <option value="SUTURA" >SUTURA</option>
            <option value="VENDAJE" >VENDAJE</option>
            <option value="SONDA VESICAL" >SONDA VESICAL</option>
            <option value="SONDA NASOGASTRICA" >SONDA NASOGASTRICA</option>
            <option value="LAVADO GASTRICO" >LAVADO GASTRICO</option>
            <option value="ATROPINIZACION" >ATROPINIZACION</option>
            <option value="NEBULIZACION" >NEBULIZACION</option>
            <option value="TAPONAMIENTO NASAL/OTRO" >TAPONAMIENTO NASAL/OTRO</option>
            <option value="VENTILACION MECANICA" >VENTILACION MECANICA</option>    
            <option value="INYECCION PROFILACTICA DIAGNOSTICA O TERAPEUTICA SUBCUTANEA O INTRAMUSCULAR" >
              INYECCION PROFILACTICA DIAGNOSTICA O TERAPEUTICA; SUBCUTANEA O INTRAMUSCULAR
            </option>    
            <option value="INYECCION PROFILACTICA DIAGNOSTICA O TERAPEUTICA INTRAARTERIAL" >
              INYECCION PROFILACTICA DIAGNOSTICA O TERAPEUTICA; INTRAARTERIAL
            </option>  
            <option value="INYECCION PROFILACTICA DIAGNOSTICA O TERAPEUTICA INTRAVENOSA" >
              INYECCION PROFILACTICA DIAGNOSTICA O TERAPEUTICA; INTRAVENOSA
            </option>  
            <option value="EXTRACCION DE PUNTOS SESION" >
              EXTRACCION DE PUNTOS SESION
            </option>    
            <option value="CONTROL / EVALUACION / CONSEJERIA / DOTACION DE MEDICAMENTOS HIPERTENSION ARTERIAL" >
              CONTROL / EVALUACION / CONSEJERIA / DOTACION DE MEDICAMENTOS HIPERTENSION ARTERIAL
            </option>    
            <option value="DOSAJE DE GLUCOSA EN SANGRE TIRA REACTIVA" >
              DOSAJE DE GLUCOSA EN SANGRE, TIRA REACTIVA
            </option> 
            <option value="ENEMAS" >
             ENEMAS
            </option>   

             <option value="TRATAMIENTO SUBLINGUAL" >
             TRATAMIENTO SUBLINGUAL
            </option>


             <option value="OTROS" >
             OTROS
            </option>


            </select>  

</div>  
<div class="navbar-form">
     <h4>CANTIDAD</h4>
              <input  type="text"   ng-model="cantidad"  maxlength="4"  class="form-control" autocomplete="off"
                name='cantidad'  required   ng-class='{ error: exampleForm.cantidad.$invalid && !exampleForm.$pristine }' >

</div>
   <div class="navbar-form">
<h4>SERVICIO DE ORIGEN</h4>
          <select ng-model="servicio" class="form-control w3-animate-zoom"
           name='servicio'  required   ng-class='{ error: exampleForm.servicio.$invalid && !exampleForm.$pristine }'>
            <option value="CONSULTA EXTERNA" >CONSULTA EXTERNA</option>
            <option value="EMERGENCIA" >EMERGENCIA</option>
            <option value="TRAUMA SHOCK" >TRAUMA SHOCK</option>
           <option value="UCI" >UNIDAD DE CUIDADOS INTENSIVOS</option>
            
            </select>  
</div>



 <div class="navbar-form" style="display:none;">
   <h4>ENFERMERA RESPONSABLE</h4>
              <select ng-model="enfermera" >
            <option value='<%=data.usuario.username%>' ><%=data.usuario.username%></option>
            
            </select> 


</div>

 <div class="navbar-form">
<h4>ESTADO REGISTRO</h4>
       <select ng-model="estado_registro" style="display:none;">
           <option value="ACTIVO" >REGISTRADO</option>

            </select> 
</div>

 <button ng-click="guardar();" class="btn btn-primary" ng-disabled='!exampleForm.$valid'  >GUARDAR</button>
  

 <div class="modal-footer">
                   <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                 </div>
                </div>
                 </div>
                
               </div>
</div>
             </div>
                </div>
                   </div>
           </div>
                   
          </div>
 <!--/.parte  de   modal-->

 <!--/.parte  de   modal-->
 
   <div id="2" class="modal fade" role="dialog">
               <div class="modal-dialog">
                 <div class="modal-content">
                   <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal">&times;</button>
                     <h4 class="modal-title">MODIFICAR</h4>

                         <div class="navbar-form">
<h4>OPCIONES DE REGISTRO </h4>
          <select ng-model="estado_registro1" class="form-control" style="width: 40%"
           name='servicio1'  >
           <option value="ACTIVO" >REGISTRADO</option>
            <option value="ELIMINADO" >ELIMINAR REGISTRO</option>

            </select> 
</div>
                   </div>
                   <div class="modal-body">
                  <div class='container' id='modal2'>
                   

                    <div class='container' style="width: 100%">
            <div class='row'>
              <div class='col-xs-3'>
            <div style="width: 180%;margin: 1px auto">
  <div class='row space'>
          <label >Nro Registro</label> {{id1}}
          </div>
       

  <div class="navbar-form">
    <h4>FECHA</h4>
              <input  type="text"    class="form-control"  ng-model="fecha1" name='fecha1' disabled>
</div>
 <div class="navbar-form">
     <h4>DNI</h4>
              
              <input type="text" ng-model="dni1"  maxlength="8" Class="form-control" autocomplete="off"
               name='dni1' >


</div>
  <div class="navbar-form">
     <h4>NOMBRES Y APELLIDOS</h4>
              <input  type="text"   ng-model="nombres1" class="form-control" autocomplete="off" 
                 name='nombres1'>

</div>
 <div class="navbar-form">
   <h4>PROCEDIMIENTO</h4>
              <select ng-model="procedimiento1" class="form-control"   name='procedimiento1'  >
            <option value="ELECTROCARDIOGRAMA" >ELECTROCARDIOGRAMA</option>
            <option value="CURACION DE HERIDA" >CURACION DE HERIDA</option>
            <option value="SUTURA" >SUTURA</option>
            <option value="VENDAJE" >VENDAJE</option>
            <option value="SONDA VESICAL" >SONDA VESICAL</option>
            <option value="SONDA NASOGASTRICA" >SONDA NASOGASTRICA</option>
            <option value="LAVADO GASTRICO" >LAVADO GASTRICO</option>
            <option value="ATROPINIZACION" >ATROPINIZACION</option>
            <option value="NEBULIZACION" >NEBULIZACION</option>
            <option value="TAPONAMIENTO NASAL/OTRO" >TAPONAMIENTO NASAL/OTRO</option>
            <option value="VENTILACION MECANICA" >VENTILACION MECANICA</option>    
            <option value="INYECCION PROFILACTICA DIAGNOSTICA O TERAPEUTICA SUBCUTANEA O INTRAMUSCULAR" >
              INYECCION PROFILACTICA DIAGNOSTICA O TERAPEUTICA; SUBCUTANEA O INTRAMUSCULAR

            </option>    
            <option value="INYECCION PROFILACTICA DIAGNOSTICA O TERAPEUTICA INTRAARTERIAL" >
              INYECCION PROFILACTICA DIAGNOSTICA O TERAPEUTICA; INTRAARTERIAL

            </option>  
            <option value="INYECCION PROFILACTICA DIAGNOSTICA O TERAPEUTICA INTRAVENOSA" >
              INYECCION PROFILACTICA DIAGNOSTICA O TERAPEUTICA; INTRAVENOSA

            </option>  
            <option value="EXTRACCION DE PUNTOS SESION" >
              EXTRACCION DE PUNTOS SESION
            </option> 
             <option value="CONTROL / EVALUACION / CONSEJERIA / DOTACION DE MEDICAMENTOS HIPERTENSION ARTERIAL" >
              CONTROL / EVALUACION / CONSEJERIA / DOTACION DE MEDICAMENTOS HIPERTENSION ARTERIAL
            </option>  

             <option value="DOSAJE DE GLUCOSA EN SANGRE TIRA REACTIVA" >
              DOSAJE DE GLUCOSA EN SANGRE, TIRA REACTIVA
            </option>  

             <option value="ENEMAS" >
             ENEMAS
            </option>  

            <option value="TRATAMIENTO SUBLINGUAL" >
             TRATAMIENTO SUBLINGUAL
            </option>

               <option value="OTROS" >
             OTROS
            </option>

            </select>  

</div>  
<div class="navbar-form">
     <h4>CANTIDAD</h4>
              <input  type="text"   ng-model="cantidad1"   class="form-control" autocomplete="off"
                name='cantidad1'   >

</div>
   <div class="navbar-form">
<h4>SERVICIO DE ORIGEN</h4>
          <select ng-model="servicio1" class="form-control w3-animate-zoom"
           name='servicio1'  >
            <option value="CONSULTA EXTERNA" >CONSULTA EXTERNA</option>
            <option value="EMERGENCIA" >EMERGENCIA</option>
            <option value="TRAUMA SHOCK" >TRAUMA SHOCK</option>
            <option value="UCI" >UNIDAD DE CUIDADOS INTENSIVOS</option>
            
            </select>  
</div>





 <div class="navbar-form"  style="display:none;">
   <h4>ENFERMERA RESPONSABLE</h4>
              <select ng-model="enfermera1" >
            <option value='<%=data.usuario.username%>' ><%=data.usuario.username%></option>
            
            </select> 



</div>



 <button ng-click="guardar2();" class="btn btn-primary"   >GUARDAR</button>
  

 <div class="modal-footer">
                   <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                 </div>
                </div>
                 </div>
                
               </div>
</div>
             </div>
                </div>
                   </div>
           </div>
                   
          </div>
<!--/.parte  de   modal-->
 
  

 <div class="visible-scrollbar">
          <table      class="table table-striped table-bordered table-sm"  ng-init='configPages()'  id="testTable" 
          summary="Code page support in different versions of MS Windows." rules="groups" frame="hsides">

            <tr bgcolor="#87CEFA"><th>Nro</th><th>FECHA</th><th>NOMBRES Y APELLIDOS</th><th>DNI PACIENTE</th><th>PROCEDIMIENTO</th>
              <th>CANTIDAD</th><th>AREA DE ORIGEN</th><th>ENFERMERA RESPONSABLE</th>
           </tr>
                  <tr ng-repeat="x in encs "  >
                     <th>{{$index+1}}</th>
                           <td>{{x.fecha | date:'dd/MM/yyyy'}}</td>
                           <td>{{x.nombres}}</td>
                           <td>{{x.dni}}</td> 
                           <td>{{x.procedimiento}}</td>
                           <td>{{x.cantidad}}</td> 
                           <td>{{x.servicio}}</td> 
                           <td>{{x.enfermera}}</td> 
                            <td><input type="button" class="btn btn-info" ng-click="cad=x.id+','+x.fecha+'
                              ,'+x.dni+','+x.nombres+','+x.procedimiento+','+x.cantidad+','+x.servicio+','+x.enfermera+','+x.estado_registro; mostrarDatos1(cad);"  data-toggle="modal" data-target="#2"  value="Modificar">
                </td>
                  </tr>

          </table>
          </div>


 </div>


     
    

      <!--  <div class="navbar-form navbar-left">
          <select ng-model="operador" class="form-control w3-animate-zoom">
            <option value="LIKE">Similar</option>
          <option value="=">Igual</option>
          <option value=">">Mayor</option>
          <option value="<">Menor</option>
          </select>
            </div> -->

             
    </nav>

          </input>


    </form>
   
    <script src='/javas/jquery-2.1.4.min.js'></script>
      <script src="http://172.26.70.160/asistenciareporte/js/jqueryui1.12.1//jquery-ui-modificado.js"></script>


    



  <script src="/angularjs/angular.min.js"></script>
  <script src='/boostrap/bootstrap.min.js'></script>
  <%- include users/excel.ejs %>


  <script>



  $( function() {
    $( "#datepicker1" ).datepicker({ changeMonth: true,changeYear: true });
    $( "#datepicker1" ).datepicker( "option", "dateFormat", "dd/mm/yy");
    $( "#datepicker1" ).datepicker( "option", "showAnim", "drop");
    $( "#datepicker3" ).datepicker({ changeMonth: true,changeYear: true });
    $( "#datepicker3" ).datepicker( "option", "dateFormat", "dd/mm/yy");
    $( "#datepicker3" ).datepicker( "option", "showAnim", "drop");





  } );

   </script>
    <script type="text/javascript">
    var app = angular.module("app", []);
    app.controller("frmmonitor",   function($scope,$http)
    {
    	$scope.formData = {};
    	$scope.currentPage = 0;
      $scope.pageSize = 10; //  tamño de la Pagina
      $scope.pages = [];

     $scope.fecha = new Date();

               
    //fin alertas
    $scope.submitForm = function (formData) {
    	alert('Form submitted with' + JSON.stringify(formData));
    };


     var alerta="Datos Guardados Correctamente";

    	$scope.guardar=function()	{

            dia=$scope.fecha.getDate();

         if (dia < 10) { 
         dia = '0' + dia; 
       }

        mes=$scope.fecha.getMonth() + 1;

          if (mes < 10) { 
         mes = '0' + mes; 
       }

        año=$scope.fecha.getFullYear(),

    
     id=$scope.id,
     url='/guardado/procedimientos';
       if (id>0) {
     url='/update/procedimientos';
        };
        $http.post(url,
    		{
    			'id':id,
         'fecha':año + '-' +mes + '-' + dia,
          'nombres':$scope.nombres,
          'dni':$scope.dni,
          'procedimiento':$scope.procedimiento,
          'servicio':$scope.servicio,
          'enfermera':$scope.enfermera,
          'cantidad':$scope.cantidad,
           'estado_registro':$scope.estado_registro,

    		}).then(function(response)
    			{
    			});
alert("DATOS  GUARDADOS CORRECTAMENTE");
location.reload();
    		}


          $scope.guardar2=function() {
    
      id=$scope.id1,
     url='/guardado/procedimientos';
       if (id>0) {
     url='/update/procedimientos';
        };
        
        $http.post(url,
        {
          'id':id,
          
          'nombres':$scope.nombres1,
          'dni':$scope.dni1,
          'procedimiento':$scope.procedimiento1,
          'servicio':$scope.servicio1,
          'enfermera':$scope.enfermera1,
          'cantidad':$scope.cantidad1,
           'estado_registro':$scope.estado_registro1,

        }).then(function(response)
          {
          });
alert("DATOS  GUARDADOS CORRECTAMENTE");
location.reload();
        }


    	$scope.buscar=function(myText)
    	{ 
       dia2=$scope.campo.getDate();

         if (dia2 < 10) { 
         dia2 = '0' + dia2; 
       }

        mes2=$scope.campo.getMonth() + 1;
          if (mes2 < 10) { 
         mes2 = '0' + mes2; 
       }
        año2=$scope.campo.getFullYear(),

    		$http.post('/buscar/procedimientos',
    		{	'campo':año2 + '-' +mes2 + '-' + dia2,
    			'operador':$scope.operador,
    			'valor':$scope.valor,
    			'accion':'buscar',

             		}).then(function(response)
    			{
    				$scope.encs=response.data;
    			});
                console.log($scope.valor)

    	}

        $scope.buscar2=function(datos)
      { 
        $http.post('/buscar2/procedimientos',
        { 'dni':$scope.dni,
          'accion':'buscar2',
                }).then(function(response)
          {
                $scope.nombres=response.data[0].colum5;

          });
               console.log($scope.nombres)

      }






      $scope.buscar3=function(myText)
      { 
        $http.post('/buscar3/procedimientos',
        { 'username':$scope.username,
          'accion':'buscar3',

                }).then(function(response)
          {
            $scope.nombre=response.data[0].nombre;
          });
                console.log($scope.valor)

      }
      $scope.buscar4=function(myText)
      { 
        $http.post('/buscar4/citas',
        { 'campo':$scope.campo,
          'operador':$scope.operador,
          'valor':$scope.valor,
          'accion':'buscar',

                }).then(function(response)
          {
            $scope.encs4=response.data;
          });
                console.log($scope.valor)

      }

       $scope.buscar5=function(myText)
      { 
        $http.post('/buscar5/citas',
        { 'campo':$scope.campo,
          'operador':$scope.operador,
          'valor':$scope.valor,
          'accion':'buscar',

                }).then(function(response)
          {
            $scope.encs5=response.data;
          });
                console.log($scope.valor)

      }





    $scope.encs=function()
    {
    }

    $scope.patrimonio=function()
    {
      $http.post('/patrimonio/monitor',
      {
        'accion':'persona',
      }).then(function(response)
        {
          $scope.init3=response.data;
           console.log($scope.init3);
        });
    }

    	///eliminamos  $scope.removeRow(id);
    	$scope.eliminar=function(id)
    	{   $scope.myText = '';
    		$http.post('/eliminar/monitor',
    		{	'id':id,
    			'accion':'eliminar',
    		}).then(function(response)
    			{
    				 $scope.removeRow(id);

    			},
          function(data) {

            $scope.myText='Elimine el  Ordenador Relacionado a este Registro';

    }


        );
	}

    	$scope.removeRow = function(id)
    {  	var index = -1;
    		var comArr = eval($scope.encs);
    		for( var i = 0; i < comArr.length; i++ )
    	{   if(comArr[i].id === id)
    		{    index = i;
    						 break;
    				}
    		}
    	if( index === -1 )
    			alert("Eliminado");
    	else
    			$scope.encs.splice(index, 1);
    };
    //  fin de la eliminacion
    $scope.mostrarDatos1=function(data)
    	{	d=data.split(",");
    		$scope.id1=d[0];
        $scope.fecha1=d[1];
        $scope.dni1=d[2];
         $scope.nombres1=d[3];
          $scope.procedimiento1=d[4];
        $scope.cantidad1=d[5];
         $scope.servicio1=d[6];
       $scope.estado_registro1=d[8];
      


    	};
    })
    .filter('startFromGrid', function() {
      return function(input,start)
    	{
        start = +start;
    		if(angular.isArray(input) && input.length > 0) {
                 return input.slice(start);
            }
    				return input;
      }
    });


    </script>
      <script src="/angularjs/formulariosadd.js"></script>

    </body>

</html>
